@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Pretendard-Regular';
  background-color: rgb(206, 238, 250);
}

.recharts-wrapper{
  width: 1000px;
  margin: 0 auto;
}

.react-kakao-maps-sdk-map-container{
  margin-top: 20px;
}